[submodule "server/navitia-proto"]
	path = server/navitia-proto
	url = git@github.com:hove-io/navitia-proto.git

[submodule "server/chaos-proto"]
	path = server/chaos-proto
	url = git@github.com:hove-io/chaos-proto.git
