[submodule "server/navitia-proto"]
	path = server/navitia-proto
	url = https://github.com/hove-io/navitia-proto.git

[submodule "server/chaos-proto"]
	path = server/chaos-proto
	url = https://github.com/hove-io/chaos-proto.git
