name: Coverage

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'recursive'
      - name: Install dependencies
        run: |
            sudo apt install libzmq3-dev lld
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Install llvm-cov & Build & Tests
        run: |
          rustup component add llvm-tools-preview
          cargo install cargo-llvm-cov
          cargo llvm-cov clean --workspace # remove artifacts that may affect the coverage results
          cargo llvm-cov --no-report --workspace
          cargo llvm-cov --no-report --workspace --features vehicle_loads
          cargo llvm-cov --no-run --workspace --lcov --output-path lcov.info
      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          name: codecov-loki # optional
          verbose: true # optional (default = false)
